.garage-button {
  margin-right: 1rem;
}

.garage-title {
  margin-bottom: 2rem;
  font-size: 4rem;
}

.garage-page-container {
  display: flex;
  align-items: center;
}

.garage-page {
  font-size: 2rem;
  min-width: 7.5rem;
  margin-right: 1rem;
}

.pag-prev-button {
  margin-right: 1rem;
}

.create-container {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.car-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.car-name {
  font-size: 2rem;
}

.id-holder {
  display: none;
}

.update-container {
  margin-bottom: 1rem;
}

.create-color,
.update-color {
  height: 2.1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.create-button,
.update-button {
  width: 8.1rem;
}

.button,
.car-button {
  cursor: pointer;
}

.car-name {
  margin-bottom: 0.5rem;
}

.car-buttons-container {
  margin-bottom: 1rem;
}

.car-button{
  margin-right: 1rem;
}

.car-route {
  position: relative;
  border: 0.2rem dashed grey;
}

.car-finish-flag {
  position: absolute;
  left: 74%;
  bottom: 100%;
  width: 2.5rem;
  height: 3.4rem;
  background-image: url('../../assets/traffic-light-icon.png');
  background-repeat: no-repeat;
  background-size: 2.5rem 3.3rem;
  margin-bottom: 0.3rem;
}

.car {
  width: 10rem;
}
