.winners__title {
  margin-bottom: 2rem;
  font-size: 4rem;
}

.winners__page {
  font-size: 2rem;
}

.table-wrapper {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.table-row {
  display: flex;
  border-bottom: 0.2rem solid #ccc;
}

.header {
  font-weight: bold;
  background-color: #f0f0f0;
}

.header-cell {
  flex: 1;
  padding: 1rem;
  font-size: 2rem;

  &:nth-child(4),
  &:nth-child(5) {
    cursor: pointer;

    &:hover {
      transition: ease-in-out 0.5s;
      color: #c12525;
    }
  }
}

.car-row {
  display: flex;
  border-bottom: 0.2rem solid #ccc;
}

.car-cell {
  flex: 1;
  padding: 1rem;
  font-size: 2rem;
}
