.navigation-panel-container {
  margin-bottom: 3rem;
}

.garage-container {

  &.disabled {
    display: none;
  }
}

.winners-container {

  &.disabled {
    display: none;
  }
}

.garage__title,
.winners__title {
  margin-bottom: 2rem;
  font-size: 4rem;
}

.garage__page,
.winners__page {
  font-size: 2rem;
}
